:root {
  --gray: #544E4E;
  --red: #863234;
  --beige: #F1EEE9;
  --gold: #EBAE37;
  --black: #000000;
  --white: #ffffff;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
}

h1 { 
  font-family: "Playfair Display"; 
  font-size: 23px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 23px; 
}

h2 { 
  font-family: "Monsterrat", sans-serif; 
  font-size: 18px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 350; 
  line-height: 15.4px;
  text-transform: uppercase; 
}

h3 { 
  font-family: "Monsterrat", sans-serif; 
  font-size: 16px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 350; 
  line-height: 15.4px;
  text-transform: uppercase; 
}

h4 { 
  font-family: "Monsterrat", sans-serif; 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 350; 
  line-height: 15.4px;
}

p { 
  font-family: "Monsterrat", sans-serif; 
  font-size: 12px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 350; 
  line-height: 15.4px;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  width: 100%;
  background-color: var(--gray);
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
  max-height: 100px;
}

header ul {
  margin: 0;
  padding: 20px 0;
  display: flex;
  list-style: none;
}

header ul li {
  margin-right: 48px;
  font-weight: 350;
  font-size: 16px;
}

button {
  background-color: var(--yellow);
  border: none;
  border-radius: 6px;
  padding: 12px 24px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 100ms;
}

button:hover, button:focus {
  background-color: var(--red);
}

a {
  font-family: "Monsterrat", sans-serif; 
  text-decoration: none;
  color: var(--gold);
}

a:hover, a:focus {
  text-decoration: underline;
}

.hop-btn {
  display: flex;
  padding: 12px 24px 24px;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 1000px;
  background-image: url('/crafty_hop_assets/home-beer.jpg');
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
}

footer {
  background-color: var(--gray);
  padding: 10px 0;
  font-size: 12px;
  text-align: center;
  font-weight: 350;
  text-transform: uppercase;
  color: var(--gold);
}


@media screen and (max-width: 1300px) {
  .banner {
    height: 400px;
  }
  nav > ul {
    justify-content: space-between;
  }
  nav > ul > li {
    margin-right: 0;
  }
  section div {
    justify-content: center;
  }
  section div #bob {
    margin-left: 0;
  }
  section div div {
    max-width: 95%;
  }
  section div div button {
    display: block;
    margin: auto;
  }
  section div div h2 {
    text-align: center;
  }
  section div:first-of-type img {
    order: -1;
  }
}

@media screen and (max-width: 800px) {
  .banner img {
    max-width: 300px;
  }
  .hop-btn {
    display: block;
  }
  header {
    box-sizing: border-box;
  }
  ul.hop-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translateY(-50%) scaleY(0);
    width: 100%;
    background-color: var(--yellow);
    transition: transform 100ms;
    padding: 0;
  }
  ul.hop-menu.show-menu {
    transform: none;
  }
  ul.hop-menu li {
    opacity: 0;
    padding: 6px 0;
    margin: 0;
    text-align: center;
    font-weight: 500;
    visibility: hidden;
  }
  nav ul.hop-menu.show-menu li {
    visibility: visible;
    animation: fade-in 100ms ease 100ms 1 forwards;
  }
  ul.hop-menu li:last-child {
    padding-bottom: 24px;
  }
  footer > img {
    max-width: 300px;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}